<script>
    $(document).ready(function(){
        if ($(window).width() < 760) {
            $(".img-des").addClass("img-responsive").removeClass("img-desc");
        }
        else {
            $(".img-responsive").addClass("img-desc").removeClass("img-responsive");
        };
    });    
</script>

<%= render "nav"%>

<!-- Header -->

<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1><%= @content.heading.upcase %></h1>
                    <h3 class="dev-des"><%= @content.tagline %></h3>
                    <hr class="intro-divider">
                    <buttontype="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Set Appointment</button>
                </div>
            </div>
        </div>
    </div>     <!-- /.container -->
</div>

 <%= render "modal"%>   
<!-- /.intro-header -->
<div class="container-fluid">
    <div class="row inquiry">
        <h3 class="text-center" style="color:#7c7c7c;">Inquiries? Get in touch with us &nbsp;
        <span class="glyphicon glyphicon-earphone"  aria-hidden="true"></span>
        &nbsp;+63 995 344 1335</h3>
            <br />
    </div>
</div>
<!-- Page Content -->

<!-- Init Intro -->
<div class="container">
    <div class="row text-center" id="intro">
        <div class="col-md-4  text-center">
            <%= image_tag "intro/benefit-icon-3.png", class:"img-intro"%>
            <p class="">Huge Property Investment Potential</p>
            <p class="description-col intro-icon">Expect Mandani Bay’s investment value to continually appreciate 
            over the course of its development of more than 10 years.</p>
        </div>
        <div class="col-md-4 text-center">
            <%= image_tag "intro/benefit-icon-1.png", class:"img-intro"%>
            <p class="">Topnotch Asian Developers</p>
            <p class="description-col intro-icon">This township will be built through the partnership of Hongkong Land and Taft Properties, 
            along with Asia’s top consultants in property development.</p>
        </div>
        <div class="col-md-4 text-center ">
            <%= image_tag "intro/benefit-icon-4.png", class:"img-intro"%>
            <p class="">Prime Waterfront Location</p>
            <p class="description-col intro-icon">The property, stretched along the Mactan Channel, is near the airport, 
            two major hospitals, the Cebu Business Park, and Asia Town IT Park.</p>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="text-center" id="feature">FEATURES</h2>
</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading" style="display:inline-block;">Mandani Bay</h2> &nbsp SUITES
                <p class="lead description-col">
                    The waterfront lifestyle at Mandani Bay begins at Mandani Bay Suites, the property’s first residential enclave.
                    Two towers are situated on a large podium that houses recreational amenities, community support facilities, and car parks.
                </p>
            </div>
            <div class="col-md-8 text-center">
                <%= image_tag ("3.jpg"), class:"img-des" %>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->
    <div class="content-section-b">
    
        <div class="container">
    
            <div class="row">
                <div class="col-md-8 text-center">
                    <%= image_tag ("1.jpg"), class:"img-des"%>
                </div>
                <div class="col-md-4">
                    
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Green Promenade</h2>
                    <p class="lead description-col">This extensive tree-lined avenue cuts through the property, lending a grounded and refreshing 
                    spirit to the environment and encouraging an active lifestyle among residents.</p>                
                </div>
            </div>
        </div>
        <!-- /.container -->
    
    </div>
    <!-- /.content-section-b -->
    
    <div class="content-section-a">
    
        <div class="container">
    
            <div class="row">
                <div class="col-md-4">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Waterfront and Boardwalk</h2>
                    <p class="lead description-col">Fronting Mandani Bay, a grand harbor provides a stunning view of the coast and surrounding skyline.</p>
                </div>
                <div class="col-md-8 text-center">
                    <%= image_tag ("4.jpg"), class:"img-des" %>
                </div>
            </div>
    
        </div>
        <!-- /.container -->
    
    </div>
    <!-- /.content-section-a -->
<div class="container" id="visit">
    <h2 class="">Find us here</h2>
        <div class="row">
            <div class="col-md-8">
                <div id="map-mandani" >
                    <script> 
                      function initMap() {
                        var uluru = {lat: 10.321371, lng: 123.937450};
                        var map = new google.maps.Map(document.getElementById('map-mandani'), {
                          zoom: 16,
                          center: uluru
                        });
                        var marker = new google.maps.Marker({
                          position: uluru,
                          map: map
                        });
                      }
                    </script>
                </div>
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxtJehSNmIhrcJApLFLDnN7X42unL0LGk&callback=initMap">
                </script>
            </div>    
            <div class="col-md-4">
            	<div class="subscribe-form">
            		<%= form_for @client, url: send_path do |client| %>
            			<small class="form-subtitle">Start to live in Your</small>
            			<h2 class="form-title">New Home</h2>
            			<div class="control">
            				<%= client.text_field :name, placeholder: "Your name..."%>
            				<i class="fa fa-user"></i>
            			</div>
            			<div class="control">
            				<%= client.email_field :email, placeholder: "Your email..."%>
            				<i class="fa fa-envelope"></i>
            			</div>
            			<div class="control">
            				<%= client.text_field :name, placeholder: "Phone number..."%>
            				<i class="fa fa-phone"></i>
            			</div>
            			<%= client.submit "Submit"%>
            		<% end %>
            	</div>            
            </div>
        </div>    
</div>    

<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Our Developers</h2>

            </div>    
            <div class="col-md-6 text-center">
            
                <a href="http://www.hkland.com/en/home.html" class="btn btn-default btn-lg" target="_blank"><%= image_tag("hk-logo.png")%></a>
                &nbsp; &nbsp;
                <a href="http://taft.properties/" class="btn btn-default btn-lg" target="_blank"><%= image_tag("rsz_taft-logo.png")%></a><br />
                <p class="description-col dev-p text-center">
                Asia’s leading property developer and one of the Philippines’ fastest-growing
                real estate brands  have come together to bring Mandani Bay to life.
                </p>  
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->



<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <p class="copyright text-muted small">Copyright &copy; Cebu Properties International 2017. All Rights Reserved</p>
            </div>
            <div class="col-md-7">
                <h4>You can also visit us here</h4>
                <div class="social-links">
                    <a class="facebook" href="https://www.facebook.com/Mandani-Bay-John-Live-your-passion-156035171567829/">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="google-plus" href="https://plus.google.com/111926250485014557949"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>    
        </div>

    </div>
</footer>


