<%= render "nav"%>
<!-- Header -->

<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1><%= @content.heading.upcase %></h1>
                    <h3 class="dev-des"><%= @content.tagline %></h3>
                    <hr class="intro-divider">
                    <buttontype="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Set Appointment</button>
                       
                    
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
 <%= render "modal"%>   
<!-- /.intro-header -->
<div class="container-fluid">
    <div class="row inquiry">
        <h3 class="text-center" style="color:#7c7c7c;">Inquiries? Get in touch with us &nbsp;
        <span class="glyphicon glyphicon-earphone"  aria-hidden="true"></span>
        &nbsp;+63 995 344 1335</h3>
            <br />
    </div>

</div>
<!-- Page Content -->

<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading" style="display:inline-block;">Mandani Bay</h2> &nbsp SUITES
                <p class="lead description-col">
                    The waterfront lifestyle at Mandani Bay begins at Mandani Bay Suites, the property’s first residential enclave.
                    Two towers are situated on a large podium that houses recreational amenities, community support facilities, and car parks.
                </p>
            </div>
            <div class="col-md-8 text-center">
                <%= image_tag ("3.jpg"), class:"img-des" %>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-md-8 text-center">
                <%= image_tag ("1.jpg"), class:"img-des"%>
            </div>
            <div class="col-md-4">
                
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Green Promenade</h2>
                <p class="lead description-col">This extensive tree-lined avenue cuts through the property, lending a grounded and refreshing 
                spirit to the environment and encouraging an active lifestyle among residents.</p>                
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Waterfront and Boardwalk</h2>
                <p class="lead description-col">Fronting Mandani Bay, a grand harbor provides a stunning view of the coast and surrounding skyline.</p>
            </div>
            <div class="col-md-8 text-center">
                <%= image_tag ("4.jpg"), class:"img-des" %>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<a  name="contact"></a>
<div class="banner">

    <div class="container">

        <div class="row text-center">
            <h2>Our Developers</h2>
            <br />
            <p class="description-col">
            Asia’s leading property developer and one of the Philippines’ fastest-growing<br /> 
            real estate brands  have come together to bring Mandani Bay to life.
            </p>
            <a href="http://www.hkland.com/en/home.html" class="btn btn-default btn-lg" target="_blank"><%= image_tag("hk-logo.png")%></a>
            &nbsp; &nbsp;
            <a href="http://taft.properties/" class="btn btn-default btn-lg" target="_blank"><%= image_tag("rsz_taft-logo.png")%></a>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <p class="copyright text-muted small">Copyright &copy; Cebu Properties International 2017. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>


